/*
Theme Name: Escola Natura WP
Theme URI: https://github.com/tidythemes/blankslate
Author: elbit.cat
Author URI: http://elbit.cat/
Description: theme for naturaescolaviva.com
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html {
    scroll-behavior: smooth
}

body {
    line-height: 1
}

a {
    text-decoration-skip-ink: auto
}

button {
    outline: 0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

q {
    display: inline;
    font-style: italic
}

q:before {
    content: '"';
    font-style: normal
}

q:after {
    content: '"';
    font-style: normal
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th,
td {
    padding: 2px
}

big {
    font-size: 120%
}

small,
sup,
sub {
    font-size: 80%
}

sup {
    vertical-align: super
}

sub {
    vertical-align: sub
}

dd {
    margin-left: 20px
}

kbd,
tt {
    font-family: courier;
    font-size: 12px
}

ins {
    text-decoration: underline
}

del,
strike,
s {
    text-decoration: line-through
}

dt {
    font-weight: bold
}

address,
cite,
var {
    font-style: italic
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.5s ease
}

.sticky {}

.bypostauthor {}

.wp-caption {}

.wp-caption-text {}

.gallery-caption {}

.alignright {}

.alignleft {}

.aligncenter {}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}


/*///Global BIT ////*/

* {
    box-sizing: border-box;
}


.timezone-local {display: none!important;}


/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */


 ul {
    list-style-type: disc;
    padding-left: theme('padding.4');
  }
  
  ol {
    list-style-type: decimal;
    padding-left: theme('padding.4');
  }

  a {
    /* //color: theme('colors.blue'); */
    /* //text-decoration: underline; */
  }
  a,p,h1,h2,h3{
    text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}


@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */


/* ///Modules//// */

.section {

    @apply p-2 mb-20;
}

.section-full {
    @apply px-0 mb-20; 
}

@media (min-width: 768px) {
    .section {
        @apply p-8;
    }
}



.hero {
    @apply text-center  text-white; 
}

/* fitty used for font size */
.hero-title {
    
    @apply tracking-tight font-bold ;

}

.hero-subtitle {
    @apply   pb-4;
}







/* /////--Buttons--//// */
.btn {
  @apply py-4 px-6 text-white text-base text-center no-underline rounded shadow-md inline-block leading-normal  align-middle;
}
.btn-full {

    @apply w-full block;

}
.btn-blue {
  @apply bg-blue-400;
}
.btn-blue:hover {
  @apply bg-blue-600;
}

.btn-yellow {
  @apply bg-yellow-400 ;
}
.btn-yellow:hover {
  @apply bg-yellow-600;
}

.btn-green {
  @apply bg-green-400 ;
}
.btn-green:hover {
  @apply bg-green-600;
}

.btn-red {
  @apply bg-red-400 ;
}
.btn-red:hover {
  @apply bg-red-600;
}



 

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
